body{
    background-image: url(https://i.pinimg.com/originals/41/7b/1f/417b1f17b2863a61d9405db1c5e9fa73.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.quiz-container{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKLEML0kx7qNdxa4pNiONN5fyK9bA6L4TbvG6GTE6Z&s);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    opacity: 0.7;
}